body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: #E20000;
}
p{
    color: #6A6A6A;
}
#proyectos{
    background-image: url(../imagen/fondo-proyectos.png);
    background-size: 100%;
}
#proyectos main{
    height: 83vh;
}
#contacto{
    background-image: url(../imagen/fondo.png);
    background-size: 100%;
}
#contacto main{
    height: 83vh;
}
input, textarea{
    border-radius: 15px !important;
    border: 0 !important;
}
textarea{
    height: 150px !important;
   resize: none;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid  #E20000;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 200;
}
footer, footer a{
    color: white;
    font-weight: 100;
    font-size: 16px;

}
footer .fa-whatsapp{
    background-color: #370a6d;
    color: white;
    font-size: 30px;
    padding: 13px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-linkedin-in{
    font-size: 28px;
    color: #ff4a49;
    background-color: white;
    height: 32px;
    border: 0ch;
    width: 32px;
    font-size: 20px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
    
}
#proyectos footer, #proyectos footer a{
color: #E20000;
font-weight: 300;
}
#proyectos footer .fa-github{
    font-size: 30px;
    color:  #ff4a49;
}
#proyectos footer .fa-linkedin-in{
    font-size: 28px;
    color: white;
    background-color: #ff4a49;
    height: 32px;
    border: 0ch;
    width: 32px;
    font-size: 20px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
    
}
.btn{
    background-color: #ffffff;
    color: #370a6d;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #E20000;
    border-radius: 20px;
    padding: 8px 45px;
}
.btn:hover{
    color: #ffffff;
    background-color: #370a6d;
}
.btn-pdf{
    background-color: #e20000;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 200;
}
.btn-pdf:hover{
    text-decoration: underline;
}